---
interface Props {
  title: string;
  items: string[];
}
const { title, items } = Astro.props;
---
<aside class="sticky-side" style="padding-top: 1rem;">
  <div class="stack">
    <strong style="font-weight: 500;">{title}</strong>
    <div class="meta">{items.map((item) => <span class="tag">{item}</span>)}</div>
  </div>
</aside>
